h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
span,
a,
div,
body,
html,
b,
p,
dl,
dt,
dd,
section,
header,
footer {
    padding: 0;
    margin: 0;
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
    font-size: 1em;
}

.pointer {
    cursor: pointer;
}

.mw100 {
    max-width: 100%;
}

.mh100 {
    max-height: 100%;
}

/* 스크롤 */

::-webkit-scrollbar {
    /* 스크롤바 전체 영역 */
    width: 15px;
}

::-webkit-scrollbar-track {
    /* 스크롤이 움직이는 영역  */
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    /*  스크롤  */
    background-color: #335fff;
    background-color: #000;
    border-radius: 0px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    /*  스크롤의 화살표가 포함된 영역   */
    display: block;
    height: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-corner {
    /*  상하+좌우 스크롤이 만나는 공간   */
    background-color: #f5f5f5;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.home__scroll {
    position: fixed;
    right: 2%;
    top: 7%;
    width: 12vw;
    height: 12vw;
    max-width: 300px;
    z-index: 1;
    animation: rotate_image 5000s linear infinite;
    transform-origin: 50% 50%;

    text {
        font-size: 2em;
    }
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.year {
    color: #335fff;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

section .d-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.j-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-fff {
    color: #fff;
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.btn-gotop {
    background: url(/images/portfolio/btn_top_normal.svg)no-repeat 92%;
    width: 32px;
    height: 32px;
    position: fixed;
    text-align: center;
    padding-top: 5px;
    right: 30px;
    z-index: 999;
    bottom: 30px;
}

header {
    background: #000;
    height: 70px;
    padding: 0 3vw;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-60px);
    transition-delay: .5s;
    transition: all .6s ease;
    z-index: 10;

    &.header-on {
        opacity: 1;
        transform: translateY(0);
    }

    h1 {
        font-size: 24px;
    }

    &>.d-flex {
        height: 100%;
    }

    ul {
        li {
            padding: 0 30px;
            font-size: 20px;
        }
    }

    .info {
        & span:nth-child(2) {
            padding: 0 30px;

            &:before {
                content: "";
                position: absolute;
                right: 14px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 14px;
                background: #ffffff75;
            }

            &:after {
                content: "";
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 14px;
                background: #ffffff75;
            }
        }
    }
}

// section
.list-y {
    transform: translateY(-200px);
    transition: all 1s ease;
    opacity: 0;

    &:nth-child(1) {
        transition-delay: 0.3s;
    }

    &:nth-child(2) {
        transition-delay: 0.7s;
    }

    &:nth-child(3) {
        transition-delay: 1s;
    }

    &:nth-child(4) {
        transition-delay: 1.3s;
    }

    &:nth-child(5) {
        transition-delay: 1.5s;
    }

    &:nth-child(6) {
        transition-delay: 1.8s;
    }

    &:nth-child(7) {
        transition-delay: 2.1s;
    }

    &.list-y-on {
        transform: translateY(0px);
        opacity: 1;
    }
}



// @mixin tr($i) {
//     transition-delay: #{$i};
// }

// @for $i from 1 through 15 {

//     .list-y:nth-child(#{$i}) {
//         @include tr(cal(#{$i}*0.3));
//     }
// }



section {
    padding: 2vw 3vw;
    margin: 0 auto;
}

.year {
    font-size: 3.4rem;
    font-family: 'Pretendard-Black';
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 20px;
}

.d-flex-list {
    gap: 20px;
}

.card {
    height: 400px;
    background-size: cover !important;


    a {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 50px;
        border-radius: 34px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.5;
        }

        dl {
            dt {
                color: #ffffff;
                font-size: 2em;
                font-weight: bold;
                margin-bottom: 10px;
                text-shadow: 1px 1px 7px #000;
            }

            dd {
                color: #fff;
                font-size: 1.25em;
                text-shadow: 1px 1px 7px #000;
                opacity: 0.8;
            }
        }

        &:hover {

            &:before {
                opacity: 1;
                transition: all 0.5s;
            }

        }

    }


}

@mixin bg($name, $path: "/pp/images/", $year: "2023/") {
    background-image: url("#{$path}#{$year}#{$name}.png");
}

@for $i from 1 through 12 {

    // @for $z from 2017 through 2023{
    //     .card#{$z}-#{$i} a{
    //         @include bg('card2023-#{$i}');
    //     }
    // }
    .card2023-#{$i} a {
        @include bg('card2023-#{$i}');
    }

    .card2022-#{$i} a {
        @include bg('card2022-#{$i}', $year:'2022/');
    }

    .card2021-#{$i} a {
        @include bg('card2021-#{$i}', $year:'2021/');
    }

    .card2020-#{$i} a {
        @include bg('card2020-#{$i}', $year:'2020/');
    }

    .card2019-#{$i} a {
        @include bg('card2019-#{$i}', $year:'2019/');
    }

    .card2017-#{$i} a {
        @include bg('card2017-#{$i}', $year:'2017/');
    }

}

@media(max-width:1200px) {
    header ul {
        display: none !important;
    }

    .home__scroll {
        display: none;
    }

    .card a {
        padding: 25px;
    }

    .year {
        font-size: 2.8rem;
    }
}

@media(max-width:768px) {
    header>.d-flex {
        justify-content: center;

        .info {
            span {
                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    padding-left: 0;
                }

                font-size: 0.98em;
            }
        }
    }

    section {
        padding: 4vw 3vw;

        .d-flex {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }

    .card {
        height: 267px;

        a {
            padding: 15px;
            border-radius: 20px;

            dl {

                dt {
                    font-size: 1.2em;
                }

                dd {
                    font-size: 0.9em;
                }

            }
        }
    }


    .year {
        font-size: 2rem;
    }
}